html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 500px;
    min-width: 200px;
    text-align: center;
    font-family:  Helvetica, 微软雅黑, sans-serif ;
}
img {
    user-select: none;
    max-width: 100%;
    max-height: 100%;
}
a,a:hover,a:visited,a:link,a:active{
    text-decoration:none;
}
a{
    color: rgba(255, 255, 255, 0.5);
}
.absolute {
    position: absolute;
}
.absolute.center {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.stress{
    font-weight: bolder;
    text-decoration: none;
    background: -webkit-gradient(linear,left top,left bottom,from(#2980b9),to(#33cccc));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.end.stress {
    margin: 30px 0;
}
.disabled {
    pointer-events: none;
}
@keyframes sideIn {
    from {
        opacity: 0;
        margin-top: 50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}

input[type=submit]{
    border: none;
    outline: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
