body{
    color: #888;
    text-align: center;
    font-family: "微软雅黑";
    min-width:1000px;
}
html,body{
    padding:0;
    margin:0;
    min-height:100%;
}

.container{
    min-width:1000px;
}


img:hover{
    cursor: pointer;
}

input[type=checkbox]:hover{
    cursor: pointer;
}

a,a:hover,a:visited,a:link,a:active{
    text-decoration:none;
}

a{
    color: rgba(255, 255, 255, 0.5);
}


.stress{
    font-weight: bolder;
    text-decoration: none;
    background: -webkit-gradient(linear,left top,left bottom,from(#2980b9),to(#33cccc));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes sideFadeIn {
    from {
        opacity: 0;
        margin-right: -50px;
    }
    to {
        opacity: 1;
        margin-right: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}

input[type=submit]{
    border: none;
    outline: none;
    color: #ffffff;
    font-weight: bold;
}


input[type=submit]:hover{
    cursor: pointer;
}