
/**************************大标题******************************/

.container {
    color: #999999;
    margin-top: 30px;
}

.container .headerPic {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 1260px;
    height: 160px;
    background-size: cover;
    background-image: url("../pic/header.jpg");
}

.container .headerPic .shade {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #33cccc, #2980b9);
    opacity: 0.5;
}

.container .headerPic .title {
    color: white;
    font-family: 方正粗宋简体;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 43px auto;
}

.container .headerPic .title #line1 {
    font-size: 15px;
    letter-spacing: 14px;
}

.container .headerPic .title #line2 {
    margin-top: 29px;
    font-size: 30px;
}

/**************************************************************/


.timeleft {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    color: #ff6666;
}

/**************************投票框****************************************/
.container .votelist {
    display: none;
    width: 100%;
    min-width:1260px;
    max-width: 1260px;
    text-align: left;
    margin: 30px auto;
}

.container .votelist .teacherBox {
    background-size: cover;
    background-position: 50%;
    text-align: center;
    display: inline-block;
    position: relative;
    color: white;
    width: 216px;
    height: 140px;
    margin: 15px 16px;
}

.container .votelist .teacherBox .shade {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
}
.container .votelist .teacherBox div:hover{
    cursor:pointer;
}